<!--
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body" style="border-color: black; border: 15px;">
                    <h5 class="card-title">Sedes</h5>

                    <div class="mb-3" *ngIf="!openSaveUpdate">
                        <button (click)="openCreateClient()" class="btn btn-success">Crear Sede</button>
                    </div>
                    <div class="mb-3" *ngIf="openSaveUpdate">
                        <button (click)="closeCreateClient()" class="btn btn-danger">Cerrar</button>
                    </div>
                    <div *ngIf="openSaveUpdate">
                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crear una sede</h5>
                                </div>

                                <form [formGroup]="form" class="row g-3 needs-validation">
                                    <div class="col-12">
                                        <label class="form-label">Digite el nombre de la sede</label>
                                        <input formControlName="name" type="text" name="name" class="form-control"
                                            id="yourName" required>
                                        <div class="invalid-feedback">Por favor digite el nombre</div>
                                    </div>

                                    <div class="col-12">
                                        <button *ngIf="!updateButtom" class="btn btn-primary w-33" type="submit" [disabled]="!form.valid"
                                            (click)="createNewClient()">Guardar</button>
                                            <button *ngIf="updateButtom" class="btn btn-primary w-33" type="submit" [disabled]="!form.valid"
                                            (click)="update()">Actualizar</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;" *ngIf="loading"><p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                    </div>

                    &lt;!&ndash; Table with stripped rows &ndash;&gt;
                    <p-table [value]="clients" [tableStyle]="{ 'min-width': '50rem' }">

                        <h1 style="text-align: center;">CLIENTES</h1>

                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Ruta</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Barrio</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Profesion</th>
                                <th scope="col">Notas</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Actualizado por</th>
                                <th scope="col">Fecha actualización</th>
                                <th scope="col*2">Editar</th>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-client>
                            <tr >
                                <td>{{ client.id }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.created_by.name }}</td>
                                <td>{{ client.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                                <td>{{ client.modified_by.name }}</td>
                                <td>{{ client.updated_at | date:'dd/MM/yyyy HH:mm' }}</td>
                                <td><p-button (click)="updateClient(client)" icon="pi pi-check"></p-button></td>

                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex-auto">
                        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [totalRecords]="totalRecords"
                            [rows]="row"></p-paginator>
                    </div>

                    &lt;!&ndash; End Table with stripped rows &ndash;&gt;

                </div>
            </div>

        </div>
    </div>
</section>-->
