<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " routerLink="/index" routerLinkActive="active-link">
                <i class="fa-solid fa-house"></i>
                <span>Inicio &nbsp;</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/index/sedes" >
                <i class="fa-solid fa-city fa-shake"></i>
                <span>Sedes &nbsp;</span> 
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/index/routes" routerLinkActive="active-link">
                <i class="fa-solid fa-route"></i>
                <span>Rutas &nbsp;</span> 
            </a>
        </li> 
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/index/employees" routerLinkActive="active-link">
                <i class="fa-solid fa-user-tie"></i>
                <span>Empleados &nbsp;</span> 
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/index/clients" routerLinkActive="active-link">
                <i class="fa-solid fa-user"></i>
                <span>Clientes &nbsp;</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->