<script src="../../utils/pageable.ts"></script>
<div class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" style="border-color: black; border: 15px;">
          <h5 class="card-title">Cobros</h5>
        </div>
        <!-- Botón para agregar elementos -->
        <div class="row mb-3 px-3">
          <div class="row mb-4">
            <div class="col-sm-4 mt-3">
              <p-floatLabel>
              <p-dropdown
                (onChange)="selectedRoute($event)"
                [options]="routes"
                optionLabel="name"
                [(ngModel)]="selectedRouteItem"
                [showClear]="true"
                [filter]="true"
                filterBy="name"
                placeholder="Seleccione una ruta"
                inputId="float-label"
              />
                <label id="select-label">Seleccione una ruta</label>
              </p-floatLabel>
            </div>
            <div class="col-sm-6 mt-3">
              <div class="h4" *ngIf="selectedRouteItem">
                Sede: {{selectedRouteItem?.sede?.name}}, ruta: {{selectedRouteItem?.name}}
              </div>
            </div>
            <div class="col-sm-2 mt-3">
              <p-floatLabel>
                <p-calendar
                  (onSelect)="dateChanged($event)"
                  [(ngModel)]="currentDate"
                  id="current-date" />
                <label for="current-date">Fecha Planilla</label>
              </p-floatLabel>
            </div>
          </div>

          <div class="row" *ngIf="false">
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Buscar por número de documento"
                     aria-label="Buscar por ID" aria-describedby="button-buscar">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-outline-secondary" (click)="openSearchByDocument()" type="button">Buscar
              </button>
            </div>
          </div>

          <ng-container class="col-mb-12" *ngIf="search">
            <span>Este texto es cualquiera</span>
            <div class="col-sm-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarModal">
                Agregar
              </button>
            </div>
            <div class="col-sm-3">
              <button (click)="closeSearchByDocument()" type="button" class="btn btn-danger" data-toggle="modal"
                      data-target="#agregarModal">
                Cerrar
              </button>
            </div>
          </ng-container>

          <!-- Modal para agregar elemento -->
          <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar Elemento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Aquí puedes agregar los campos para añadir un nuevo elemento -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <p-table
            [value]="loans"
            [scrollable]="true"
            scrollHeight="400px"
            [resizableColumns]="true"
            styleClass="p-datatable-gridlines"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
              <tr>
                <th>Nro</th>
                <th>Nombres</th>
                <th>Monto</th>
                <th>Cobro Diario</th>
                <th>Días Credito</th>
                <th>Valor Abono</th>
                <th>Pico</th>
                <th>Fecha Pago</th>
                <th>Dias Moras</th>
                <th>Saldo</th>
                <th>Cuotas</th>
                <th>Reencauche</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-loan>
              <tr>
                <td>{{ loan.order }}</td>
                <td>{{ loan.client.name }} {{loan.client.last_name}}</td>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.paymentDays }}</td>
                <td>{{ loan.paymentType }}</td>
                <td>{{ loan.deposit }}</td>
                <td>{{ loan.lastInstallment }}</td>
                <td>{{ loan.remainingAmount }}</td>
                <td></td>
                <td>{{ loan.lastPayment }}</td>
                <td>{{ loan.remainingBalance }}</td>
                <td>
                  <button class="btn btn-info">Si</button></td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </div>
    </div>
  </div>
</div>
