<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body" style="border-color: black; border: 15px;">
          <h5 class="card-title">Cobros</h5>

          <!-- Botón para agregar elementos -->
          <div class="row mb-3">
            <div class="col-mb-6">
              <div class="input-group">
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Buscar por número de documento"
                         aria-label="Buscar por ID" aria-describedby="button-buscar">
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Buscar por número de documento"
                         aria-label="Buscar por ID" aria-describedby="button-buscar">
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-outline-secondary" (click)="openSearchByDocument()" type="button">Buscar
                  </button>
                </div>
              </div>

              <ng-container class="col-mb-12" *ngIf="search">
                <span>Este texto es cualquiera</span>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarModal">
                    Agregar
                  </button>
                </div>
                <div class="col-sm-3">
                  <button (click)="closeSearchByDocument()" type="button" class="btn btn-danger" data-toggle="modal"
                          data-target="#agregarModal">
                    Cerrar
                  </button>
                </div>
              </ng-container>
            </div>
          </div>

          <!-- Modal para agregar elemento -->
          <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar Elemento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Aquí puedes agregar los campos para añadir un nuevo elemento -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabla -->
          <div class="table-responsive">
            <table class="table-loans">
              <thead>
              <tr>

                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Ruta</div>
                </th>
                <th style="min-width:10rem" class="align-middle text-center">
                  <div class="flex align-items-center">Nombre</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Monto</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Dias Cobro</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Cobro Diario</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Abono</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Ultima Cuota</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Pico</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Saldo</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Mora Dias</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Ultimo Pago</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Inicia</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Termina</div>
                </th>
                <th style="min-width:4rem" class="align-middle text-center">
                  <div class="flex align-items-center">Observ</div>
                </th>
              </tr>
              </thead>
              <tbody>
              <!-- Aquí puedes agregar filas con datos -->
              <tr>
                <td>No ren</td>
                <td>Ruta 1</td>
                <td>Pedro Perez</td>
                <td>200</td>
                <td>Vier</td>
                <td>10x25</td>
                <td>8</td>
                <td>8</td>
                <td>Ejemplo</td>
                <td>Ejemplo</td>
                <td>Ejemplo</td>
                <td>Ejemplo</td>
                <td>Ejemplo</td>
                <td>Ejemplo</td>
              </tr>
              <!-- Aquí puedes agregar filas con datos -->
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
