<div class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body" style="border-color: black; border: 15px;">
                    <h5 class="card-title">Rutas</h5>

                    <div class="mb-3" *ngIf="!openSaveUpdate">
                        <button (click)="openCreateRoute()" class="btn btn-success">Crear Ruta</button>
                    </div>
                    <div class="mb-3" *ngIf="openSaveUpdate">
                        <button (click)="closeCreateRoute()" class="btn btn-danger">Cerrar</button>
                    </div>
                    <div *ngIf="openSaveUpdate">
                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crear una ruta</h5>
                                </div>

                                <form [formGroup]="form" class="row g-3 needs-validation">
                                    <div class="col-3">
                                        <p-dropdown
                                          formControlName="sede"
                                          [options]="sedes"
                                          optionLabel="name"
                                          [showClear]="true"
                                          placeholder="Seleccione una sede"
                                        ></p-dropdown>
                                    </div>
                                    <div class="col-9">
                                        <label class="form-label">Digite el nombre de la ruta</label>
                                        <input formControlName="name" type="text" name="number" class="form-control" required>
                                        <div class="invalid-feedback">Por favor digite el nombre</div>
                                    </div>

                                    <div class="col-12">
                                        <button *ngIf="!updateButtom" class="btn btn-primary w-33" type="submit" [disabled]="!form.valid"
                                            (click)="createNewRoute()">Guardar</button>
                                            <button *ngIf="updateButtom" class="btn btn-primary w-33" type="submit" [disabled]="!form.valid"
                                            (click)="update()">Actualizar</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;" *ngIf="loading"><p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                    </div>

                    <!-- Table with stripped rows -->
                    <p-table [value]="routes" [tableStyle]="{ 'min-width': '50rem' }">

                        <h1 style="text-align: center;">RUTAS</h1>

                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Nombre Ruta</th>
                                <th scope="col">Creado por</th>
                                <th scope="col">Fecha creación</th>
                                <th scope="col">Actualizado por</th>
                                <th scope="col">Fecha actualización</th>
                                <th scope="col*2">Editar</th>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-route>
                            <tr >
                                <td>{{ route.id }}</td>
                                <td>{{ route.sede.name }}</td>
                                <td>{{ route.name }}</td>
                                <td>{{ route.created_by.name }}</td>
                                <td>{{ route.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                <td>{{ route.modified_by.name }}</td>
                                <td>{{ route.updated_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                <td><p-button (click)="updateRoute(route)" icon="pi pi-check"></p-button></td>

                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex-auto">
                        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [totalRecords]="totalRecords"
                            [rows]="row"></p-paginator>
                    </div>

                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</div>
